.app {
  flex-basis: 700px;
  margin: 20px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 30px black;
}
.body {
  background-image: url(/images/money.jpg);
  background-size: cover;
}